/* You can add global styles to this file, and also import other style files */
@import "src/constants";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-icon-big {
  font-size: 320px;
  height: 320px !important;
  width: 320px !important;
}

.default-margin {
  margin: $elementsMargin !important;
}
