<ng-container *ngIf="(operator$ | async) as operator; else loading">


  <h1 class="default-margin">Refill {{operator.name}}</h1>

  <mat-horizontal-stepper fxShow="false" fxShow.gt-sm="true" linear>

    <mat-step [stepControl]="phoneNumberFormGroup">

      <form [formGroup]="phoneNumberFormGroup" (ngSubmit)="onPhoneSubmit()">
        <ng-template matStepLabel>Fill out your number</ng-template>

        <app-phone-number-input [countryCode]="countryCode" [operator]="operator"></app-phone-number-input>

        <button mat-button matStepperNext>Next</button>

      </form>

    </mat-step>

    <mat-step [stepControl]="paymentAmountFormGroup">

      <form [formGroup]="paymentAmountFormGroup" (ngSubmit)="onAmountSubmit()">
        <ng-template matStepLabel>Fill out your amount of money you would like to pay</ng-template>

        <app-amount-input></app-amount-input>

        <button mat-button matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>

      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Validate</ng-template>
      <app-pay [payment]="payment"></app-pay>
    </mat-step>

  </mat-horizontal-stepper>

  <mat-vertical-stepper fxShow="false" fxShow.lt-md="true" linear>

    <mat-step [stepControl]="phoneNumberFormGroup">

      <form [formGroup]="phoneNumberFormGroup" (ngSubmit)="onPhoneSubmit()">
        <ng-template matStepLabel>Fill out your number</ng-template>

        <app-phone-number-input [countryCode]="countryCode" [operator]="operator"></app-phone-number-input>

        <button mat-button matStepperNext>Next</button>

      </form>

    </mat-step>

    <mat-step [stepControl]="paymentAmountFormGroup">

      <form [formGroup]="paymentAmountFormGroup" (ngSubmit)="onAmountSubmit()">
        <ng-template matStepLabel>Fill out your amount of money you would like to pay</ng-template>

        <app-amount-input></app-amount-input>

        <button mat-button matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>

      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Validate</ng-template>
      <app-pay [payment]="payment"></app-pay>

    </mat-step>

  </mat-vertical-stepper>


</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
