<ng-container *ngIf="!isLoading; else loading">
  <h3>Phone: {{payment.number}}</h3>
  <h3>Amount: {{payment.amount}} &#8381; </h3>

  <button color="primary" mat-raised-button (click)="pay()">Pay</button>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
