<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Payment Amount</mat-label>
    <input matInput placeholder="Amount form 1 to 1000" [textMask]="{mask: paymentAmountMask, guide: false}"
           formControlName="paymentAmount"
           required>
    <span matSuffix>&#8381;</span>
    <mat-error *ngIf="formGroup.get('paymentAmount').hasError('required') ">
      Please enter <strong>payment</strong> amount
    </mat-error>
    <mat-error *ngIf="formGroup.get('paymentAmount').hasError('max') ">
      Max <strong>amount</strong> is 1000
    </mat-error>
    <mat-error *ngIf="formGroup.get('paymentAmount').hasError('min') ">
      Min <strong>amount</strong> is 1
    </mat-error>
  </mat-form-field>
</form>
