<form [formGroup]="formGroup">
  <mat-form-field>

    <mat-label>Phone number</mat-label>

    <span matPrefix>{{countryCode}} &nbsp;</span>
    <input matInput placeholder="(XXX) XXX-XX-XX" [textMask]="{mask:phoneNumberMask}" formControlName="phone"
           required>
    <img class="operator-logo" matSuffix [src]="operator.imageUrl" alt="{{operator.name}} logo">

    <mat-error *ngIf="formGroup.get('phone').hasError('required') ">
      Phone number is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="formGroup.get('phone').hasError('invalidLength') ">
      Please fill in the <strong>blanks</strong>
    </mat-error>

  </mat-form-field>
</form>
