<div fxLayout="column" fxLayoutAlign="center center">
  <mat-icon class="mat-icon-big" color="warn">block</mat-icon>
  <h1 class="default-margin">Sorry, something went wrong while refilling your phone.</h1>
  <button mat-raised-button routerLink="" color="accent">Try again</button>
</div>
