<a routerLink="/pay-cellular" [queryParams]="{id: cellOperator.id}">
  <mat-card class="default-margin" mat-ripple>

    <img mat-card-image
         class="default-margin"
         [src]="cellOperator.imageUrl"
         alt="{{cellOperator.name}} logo">

    <mat-card-content>
      {{cellOperator.name}}
    </mat-card-content>

  </mat-card>
</a>
