@import "../../../../constants";

.mat-card-image{
  max-height: 100px;
  max-width: 100px;
}

.mat-card-content{
  margin: $elementsMargin $elementsMargin 0;
}

.mat-card{
  text-align: center;
}

a{
  text-decoration: none;
}
