<div fxLayout="row wrap" fxLayoutAlign="space-around center" *ngIf="(operators$ | async) as operators; else loading">
  <ng-container *ngFor="let operator of operators">
    <app-operator [cellOperator]="operator" fxFlex="30%"  fxFlex.lt-md="100%"></app-operator>
  </ng-container>

</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
