<div fxLayout="column" fxLayoutAlign="center center">
  <mat-icon class="mat-icon-big" color="primary">check_circle_outline</mat-icon>
  <h1 class="default-margin">You successfully refilled your phone!</h1>
  <button mat-raised-button routerLink="" color="accent">Refill more</button>
</div>

